<div class="container">
  <div class="bs-docs-section">
    <h2 id="tables" class="page-header">Lista De Usuarios</h2>
    <div class="bs-example">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th><center>Email</center></th>
            <th><center>Ver</center></th>
            <th><center>Eliminar</center></th>
            <th><center>Habilitar</center></th>
            <th><center>Deshabilitar</center></th>
          </tr>
        </thead>

        <tbody>
          <% cont=1 %>
          <% @users.each do |user| %>
            <tr>
              <td><%= cont %></td>
              <td><%= user.email %></td>
              <td><a href="/manager/show_user/<%= user.id %>"><center><i class="icon-eye-open icon-2x"></center></a></td>
              <td><a href="/manager/delete_user/<%= user.id %>"><center><i class="icon-trash icon-2x"></center></a></td>
              <td><a href="/manager/enable_user/<%= user.id %>"><center><i class="icon-unlock icon-2x"></center></a></td>
              <td><a href="/manager/disable_user/<%= user.id %>"><center><i class="icon-lock icon-2x"></center></a></td>
              <% cont=cont+1 %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>