<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>Thermostat</th>
      <th>Description</th>
      <th>Status</th>
      <th>Resolution</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.thermostat_id %></td>
        <td><%= issue.description %></td>
        <td><%= issue.status %></td>
        <td><%= issue.resolution %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><form action= "/issues/cancel" method="get">
          <input type="hidden" name="id" value="<%=issue.id%>"/>
          <input type="submit" value = "Cancelar"/>
        </form></td>
        <% if current_user.rol="Administrador"%>
          <% if issue.status!="RESUELTO" %>  
            <a href="/issues/<%=issue.id%>/resolve">Resolver</a>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
