<div class="container"> 
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="forms"><center>Lista De Problemas</center></h1>
      </div>
    </div>
  </div>

  <div class="col-lg-11 col-lg-offset-1">
    <table class="table">
      <thead>
        <tr>

          <th>Termostato</th>
          <th>Descripción del Problema</th>
          <th>Estado</th>
          <th>Resolución</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @issues.each do |issue| %>
          <tr>
            <td><%= issue.thermostat_id %></td>
            <td><%= issue.description %></td>
            <td><span id="state<%=issue.id%>"><%= issue.state %></span></td>
            <td><%= issue.resolution %></td>
            <td><% if issue.state!="CANCELADO" %><div class="btn btn-danger" id="<%=issue.id%>" > Cancelar </div><%end%></td>
            <td><%= link_to 'Ver', issue %></td>
            <td><%= link_to 'Editar', edit_issue_path(issue) %></td>
            <td><%= link_to 'Eliminar', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%#= link_to 'New Issue', new_issue_path %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".btn.btn-danger").click( function() {
      alert("Your book is overdue"); 
      id = $(this).attr('id');
      $.get('/issues/cancel_issues_thermostat/'+id+'.json', function(data){
        $('#state'+id).html(data.state)
      });
    });
  });
</script>