<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
=======
  <strong>Thermostat:</strong>
  <%= @issue.thermostat_id %>
</p>

<p>
>>>>>>> 14ec02d6ab8edcf7325845df6814134b1178ee8a
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
<<<<<<< HEAD
  <strong>State:</strong>
  <%= @issue.state %>
=======
  <strong>Status:</strong>
  <%= @issue.status %>
>>>>>>> 14ec02d6ab8edcf7325845df6814134b1178ee8a
</p>

<p>
  <strong>Resolution:</strong>
  <%= @issue.resolution %>
</p>

<<<<<<< HEAD
<p>
  <strong>Thermostat:</strong>
  <%= @issue.thermostat_id %>
</p>

=======
>>>>>>> 14ec02d6ab8edcf7325845df6814134b1178ee8a
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
