<h1>Configurar Temperatura basica</h1>

<%= form_for @thermostat, :url => {:action => "set_temperatures"} do |f| %>

	<div class="field">
    <%= f.label "Temperatura Basica" %><br>
    <%= f.number_field :temperature %>
  	</div>

	<div class="field">
    <fieldset>
    	<%= f.label "Configuracion Basica" %><br> 
    	<%= f.label :configuration, "Si" %>
      <%= f.radio_button :configuration, "true", :checked => true %>
    	<%= f.label :configuration, "No" %>
      <%= f.radio_button :configuration, "false"%>
    </fieldset>
  </div>

  	<div class="actions">
    	<%= f.submit "Cambiar Temperatura" %>
  	</div>

<% end %>