<!DOCTYPE html>
<html>
<head>
  <title>Casasmart</title>

<script src="jquery-1.11.1.js"></script>
    <script src="jquery-ui-1.10.4.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <!--<link href="http://bootstrapguru.com/preview/ported/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="http://bootstrapguru.com/preview/ported/css/style.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="http://bootstrapguru.com/preview/ported/css/font-awesome.min.css">-->
	<!--[if IE 7]>
		<link rel="stylesheet" href="css/font-awesome-ie7.css">
	<![endif]-->	
	<link rel="stylesheet" href="http://bootstrapguru.com/preview/ported/css/animate.css">
	<link rel="stylesheet" href="http://bootstrapguru.com/preview/ported/css/jquery.easy-pie-chart.css">


</head>
<body>


<!-- Navigation bar starts here-->

<div class="navbar navbar-inverse">

  <div class="navbar-header">
    <a class="navbar-brand" href="#">Domotica</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/manager/users_list"><i class="icon-group"></i>Usuarios</a></li>
	  <li><a href="/clients"><i class="icon-group"></i>CLientes</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>  
			<li><a>Signed in as <%= current_user.email %>. Not you?</a> </li>
			<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  		<% else %>  
		    <li><%= link_to "Registrarse", new_user_registration_path %></li>
		    <li><%= link_to "Ingresar", new_user_session_path %></li>
  		<% end %>
    </ul>
  </div>

</div>

<!-- Navigation bar ends here-->

<div class="container">
	<%= yield %>
</div>

<!--Footer part starts here-->
<footer class="bs-docs-footer">

</footer>
<!--
<script type="text/javascript">
	$(function() {
		$('.chart0').easyPieChart({
			animate: 2000,
			scaleColor: false,
			lineWidth: 24,
			lineCap: 'square',
			size: 200,
			trackColor: '#FFF',
			barColor: '#357193'
		});
		
		$('.chart1').easyPieChart({
			animate: 2000,
			scaleColor: false,
			lineWidth: 24,
			lineCap: 'square',
			size: 200,
			trackColor: '#FFF',
			barColor: '#31c573'
		});
		
		$('.chart2').easyPieChart({
			animate: 2000,
			scaleColor: false,
			lineWidth: 24,
			lineCap: 'square',
			size: 200,
			trackColor: '#FFF',
			barColor: '#000000'
		});
		
		$('.chart3').easyPieChart({
			animate: 2000,
			scaleColor: false,
			lineWidth: 24,
			lineCap: 'square',
			size: 200,
			trackColor: '#FFF',
			barColor: '#f16528'
		});
	});
</script>
 -->
</body>
</html>
